# .env.example
VITE_SUPABASE_URL=https://fgqndwmvezqndyblxmro.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZncW5kd212ZXpxbmR5Ymx4bXJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4OTIzMzMsImV4cCI6MjA5MTQ2ODMzM30.CGn4KOi7Bi-B97s5wz9SOQmVz1lt5omNNJijtGXXP98